:root {
    --background: rgb(17, 17, 17);
    --text-colour: #FFFFFF;
    --primary:rgb(43, 123, 202);
    --secondary: #B0B3B8;
  }

.dark{
    
    color:var(--text-colour);
    background-color: var(--background);
   
    .bg-gray-300{
        color: var(--background);
        background-color: var(--secondary);
    }

    .bg-blue-400{
        color: var(--background);
        background-color: var(--primary);
    }

    .bg-red-500{
        background-color: rgb(214, 74, 23) ;
    }

    
}

body{
    transition: background-color 0.3s ease-in-out; 
}

 